FLUX_PRIMARY.ENV="local"

FLUX_SERVER.PORT="8080"
FLUX_SERVER.FRONTEND_URL="http://localhost:3000"
FLUX_SERVER.PLATFORM_DOMAIN="flux.ly"
FLUX_SERVER.READ_TIMEOUT="30"
FLUX_SERVER.WRITE_TIMEOUT="30"
FLUX_SERVER.IDLE_TIMEOUT="60"
FLUX_SERVER.CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:5173"

FLUX_DATABASE.HOST="localhost"
FLUX_DATABASE.PORT="5432"
FLUX_DATABASE.USER="postgres"
FLUX_DATABASE.PASSWORD=""
FLUX_DATABASE.NAME="flux"
FLUX_DATABASE.SSL_MODE="disable"
FLUX_DATABASE.MAX_OPEN_CONNS="25"
FLUX_DATABASE.MAX_IDLE_CONNS="25"
FLUX_DATABASE.CONN_MAX_LIFETIME="300"
FLUX_DATABASE.CONN_MAX_IDLE_TIME="300"

FLUX_REDIS.ADDRESS="localhost:6379"
FLUX_REDIS.ANALYTICS_STREAM="analytics:events"

FLUX_CLICKHOUSE.HOST="localhost"
FLUX_CLICKHOUSE.PORT="9000"

FLUX_AUTH.SECRET_KEY=""
FLUX_AUTH.PUBLISHABLE_KEY=""

FLUX_AUTH_INTERNAL.JWT_SECRET=""
FLUX_AUTH_INTERNAL.INTERNAL_API_KEY=""

FLUX_STRIPE.SECRET_KEY=""
FLUX_STRIPE.WEBHOOK_SECRET=""

FLUX_INTEGRATION.RESEND_API_KEY=""

FLUX_AWS.REGION="ap-south-1"
FLUX_AWS.ACCESS_KEY_ID=""
FLUX_AWS.SECRET_ACCESS_KEY=""
FLUX_AWS.UPLOAD_BUCKET="flux-storage"
FLUX_AWS.ENDPOINT_URL=""

FLUX_OBSERVABILITY.SERVICE_NAME="flux"
FLUX_OBSERVABILITY.ENVIRONMENT="development"
FLUX_OBSERVABILITY.LOG_LEVEL="info"
FLUX_OBSERVABILITY.LOGGING.FORMAT="console"
FLUX_OBSERVABILITY.NEW_RELIC.LICENSE_KEY=""
FLUX_OBSERVABILITY.NEW_RELIC.APP_LOG_FORWARDING_ENABLED="true"
FLUX_OBSERVABILITY.NEW_RELIC.DISTRIBUTED_TRACING_ENABLED="true"
FLUX_OBSERVABILITY.NEW_RELIC.DEBUG_LOGGING="false"
