<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="x-apple-disable-message-reformatting" />
  </head>
  <body style="font-family:sans-serif;background-color:#f5f5f5">
    <!--$-->
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="max-width:37.5em;background-color:#ffffff;padding:32px">
      <tbody>
        <tr style="width:100%">
          <td>
            <h1>
              You’re invited to
              <!-- -->{{.WorkspaceName}}
            </h1>
            <p
              style="font-size:14px;line-height:24px;margin-bottom:16px;margin-top:16px">
              Join this Flux workspace as a
              <!-- -->{{.Role}}<!-- -->.
            </p>
            <a
              href="{{.InvitationURL}}"
              style="color:#067df7;text-decoration-line:none"
              target="_blank"
              >View invitation</a
            >
            <p
              style="font-size:14px;line-height:24px;margin-bottom:16px;margin-top:16px">
              This invitation expires in seven days. If you didn’t expect it,
              you can ignore this email.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <!--7--><!--/$-->
  </body>
</html>
